
@font-face {
  font-family: 'justbeautifulsimplicity';
  src: url('justbeautifulsimplicity.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'justbeautifulsimplicity';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAFG8AA4AAAAAdpwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAABRoAAAABwA
AAAcY55JjEdERUYAAFF8AAAAIgAAACgAlgAkT1MvMgAAAbgAAABHAAAAVoX38bxjbWFwAAADaAAA
ALkAAAFasVr0emN2dCAAAAQkAAAABAAAAAQAIQJ5Z2FzcAAAUXQAAAAIAAAACP//AANnbHlmAAAE
+AAASrAAAG0MI5i6OGhlYWQAAAFEAAAAMwAAADYFDaEgaGhlYQAAAXgAAAAgAAAAJAY5Aw1obXR4
AAACAAAAAWgAAAGcpqweZWxvY2EAAAQoAAAA0AAAANApH0SMbWF4cAAAAZgAAAAeAAAAIAC8ATZu
YW1lAABPqAAAARoAAAK+UPUUMnBvc3QAAFDEAAAAsAAAAPhFXqpneNpjYGRgYADiV9mv5eL5bb4y
cDO/AIowXJyzXhJG/9f595i5k1kNyOVgYAKJAgB2xw0rAHjaY2BkYGBW//eYIYr5xX+d/7eYOxmA
IiggHQCr1gdKeNpjYGRgYEhnNGYQZgABJiBmZACJOYD5DAAT4AD0AAB42mNgZIxl/MLAysDA1MW0
m4GBoQdCM95nMGRkAooysDEzgEEDUBAI4cCopCSNwYFBwYCBWeG/BUMUsyqjDAMDRAUA8fEKIwB4
2hWQTUgUcBDFf2/2EHvwUkaX0iw9iIskqKAuLpQfYH6VH6iEh1y/SvAQhNShg4mdRBQxvHTKxYNg
gSKYIqsXr0VkRNAh0C6rIIFe/DsODAxv3ryZNxohDw81eca8+MQbvpGwSiq1TdJqhC1Ry1teKsok
G7QQGNIEGcap4yfdvGKAA3I0T72mWFGKGh3RpjF2tUeV0rTqB4+1SY/WeEKKMRbotCvUWyETlu1z
aZ5FyliyinCmfQoc++J5TzsMW75zGvnnmtN+1zV9JmWD9Os4HNlr7mrROff5aFE6bJ2/9tR7/9ky
44ElidsHqiNDLNrvsGwveGRXKWafXk6JMkuuxml37RKvW/WVUXUR0y0SOqNXWeGQX+5nlduaCTG+
k812yLjPUtLkWQ8tvj/u3sv1nBv2kPeuEVeCRjLhj/vqcLzY6uh0zqXOqOa4o4ZwQpI+FXHdysnx
/7bzjmbOuSmjKnIIFwfYZHN42mNgYGBmgGAZBkYGEAgB8hjBfBYGCyDNxcDBwASEdQqSCrIGDP//
A8UUFCQUZEDs/48feD3wuJAG1QsFjGwMcAFGJiDBxIAKgJLMLKxs7BycXNw8vHz8AoJCwiKiYuIS
klLSMrJy8gqKSsoqqmrqGppa2jq6evoGhkbGJqZm5haWVtY2tnb2Do5Ozi6ubu4enl7ePr5+/gGB
QcEhoWHhEZFR0TGxcfEJiQzUBympScnEqwYA1gcgYwAAAAAhAnkAAAAUABQAFAAUAHoA1AG2AsgD
fARsBJ4E4AUgBa4GDgY+BmoGjAbABywHpAgmCMwJVAoCCoQLFAu2DDoMdgzIDSoNjg3yDpwPahAm
EPoRchIKEqoTPBPQFF4U3hVeFhYWlhdCF8wYOBjOGYAaahrwG1ob8hxoHTAeDh7MH4Yf6CAkIJoh
ACE2IWYh+CKUIvIjtiQmJKglrCZaJ/opxipuKuwr1ixcLOYtcC4CLt4vYC/kMFgw0jF2MfQyjjNC
M/Y0ODTSNUA1djWuNhg2hjaGeNpcvAecZVlZL7pX3jmHk3OoOlV1KpxU1V1d1Tl3T/d09/RMM3mG
SQxJhswwRAmCIkng8RCvSlJUBK+KOoYLoiJ6QRHUHz4QvRf1guIVFYSu9629z6lq6JqePnXS3utb
X/j/v7AUrNQVBfXwuxSiCEWZDLwm8ere4U99qo60Or71e6/B7/reAwq8+oRClc/jv1dMZUU5BO/k
gouwgibjZdTpDifjyXjY3USjzmQcJ/HaNgp5ZOPIRkkcxRHviLVknL4EH+Odbmf8YcI40nRCKUUO
ZgzBH+5gxAmhmGBCCMK4znSGOQ2YRpnlrFLibWmIcKZjwh1GPkTM4u8Vf62JTWIiYaryOxgWdz/A
l9+3pGMNO+gJplJsqG4ur2r50KkpioKVbfRZ5dv4F5Wqsk9RArirUPAE/h9HIe/CamAVw/EI7nc0
7IyT7K5vfB1egP/30XFWxkxguFHfkBcnGP6iN9AyRbAK+bSuwlqQfPxej3m4O+j7sFikWwTuGP5Q
F9vhZshDB3vIY7XFudjCHJ6jNKBFx1/MMV9L73mfgvGd+POKo7wbdiyVPvyFe5wMR0M2TGK5Bemu
8GajM1kbwBPd4VjebCxsLP/bQoPxBGTf7Uy2ULpm+Mg2Wsv2pNkRcZiMYfPiAayYi4ZoroAouvAL
bKKNup1RKpWGfDs8U4Ev3X1ydmH0dp+O70BEPWQnF65/ULWfzWD5+0O5Gza1iOmd99NtqsP/QDKa
ifPHSDBgKvyCUA0kJZ4TatQUNqXwIaS/EaH7HSlCFRFbipM+iLH8bKwKkG1dW7jfRtkfeIYi/46Q
g4g1hl4Pu2FgXLoF1IW0We5heIu/qoU9lcHF6hSJTxwlJrFIIHzMQVvufn2MBea/v24Tk/o4IF7p
6xbDmIaqJq/oqPr9RG43Yj58JaL4A0WbebCdnDvExP7vwYa+o2wKDFeYPan+mivk5RSu3L9zCf09
acKjWKkpPeWo8lHQv05XWkmQbgwItkKTmEiB2jiJ2zHs0RaSr0ntE7A9cid5xIXc8E63jwLYyCjd
I9i09Eu6099ge2BX4EEVTTcKVEI+anIRhbCjUg/Sb+lMMkUad+U3yofL6YvSMsIIXkvgPaP0mfcT
4geq9a9CdAZrS4h4c0ulJWJ8kWCdq45q6shk2NMNzqjxXxgt5XSVxU0VpLd+aLGLGH/L+8HImeN6
CDkBxQ7sKEe4ENU5qeQo7LO0oVhVQRvw6jMWkbSpxMYIbIqu2E6oxYGLqBCFvNC78r3I8zC2rJvO
Ijz9zXlgMxyHjes7X/jxuudFh94ZL/bybaJd/4cTp1ShVpd853eeteX6wXxO+N/Kn9Pjc3mONebl
wQ2dui/SRGH9v4nXoxfSxB8zahVKViWOckFC6btfZQ+Lpf4gP/AIvjOOWGL5Qg2ZQ5yn5S0TbdYL
CbIcN6IOcR/JdTsLYT6yAnHoPUKUL7RGdZUnHnUN0yUJExzRfmwlyGWOYYKZKxQpO/+MHwbf5IJn
vld5jqK0x0kFTf2mtNuYDKVfslEUxnL/4Fl4iXCpFSWc2ulE7vTET42yIcCUeR/Bvo7Tj0sTl84B
fhlINwBfCJsL6oYS6c6lb8OnCfhb0PugkVsQdFggn0a1vJ3zghJX3a8jVf/J6HkME2mBDN2de9NC
6C51wOLy5aBbBGfODG3s2rqpWWJu2QbrRTzWkAsOXORVsDDia46OGWgCDnTTO2Zp+3v1io7QO7BG
7EV1nDgrhDYCot9KTef633R3lFjIz2EOf3Siob+ZR/guU8QQPDZ9Qw+4VZ/kQ9U2E40JUtJcxOEB
QuJ7f+lQAzt2zzO5MKtM46mclWM738R/gn9XsSEK9JV3gR2CmFKzmVoEWAJpdlNz7EpxjqVpSCnF
aJz6RynUTpenVjYzodT+UjmnewYvya+UdpdZZraDmbMeDdOnhllYzN4Kf2ETtuRuCS6/82t3LGlJ
bmHfge2F4mhz4SdMF1YANoJhd6ggzvsPeiNLBEnueLnUFgH6e61KcFIo7u+HjTnKy1eX5i+UNhDO
l+527Q7F+Vz5fLXWR+SUdtBfe9hzwWuCPG27UMgz2jLnct3iQj7ytKCGNOeA4wpx5WYNi/JgIX+z
qxEuAlpQeeyg+65e8TcrY11rF3qTs5PYcymEWsQ5BcFjcXzdWekXDns+ceyt6pXr/4McLIUrms4D
O99VeXuFkUZle9+g3rlcyB/e7BwNEts0JtWLJ7SRd/lFgUfI2qYPbpaVCrGr6rVFboYLrWbbFnbC
QfmKSW48vAukeWTfAPyDpTYcr4h0lesAZJDyPPQXygfxbypF2Nk43Q0HpXuW+bzphozfDu4FNF2j
EFdiuH2GTMxz8AvCJfzrWKenk/bABF0VLjgg5OWOboKtId2U13jNjo36+LNKC36RWgAm6CfZxcAM
+7jbwaleZFeMUYwMklxB6M4IEIyBBIssDGjHfBjrfryNVaQSN4d/BeBM5frv7lu5/taqqmMdq0VA
SELFETpZesOzX/kyiFg2cWKpx0i5aeeU8mX8h0ozXWcM18eZ308dgbyyD4tNVVWu91GuBjcjdBTe
AgGVFwnYkob1C1gLrGEEtoXNAv4kd9rXP7fWu/7eDrGpjyAKazbRiIsWSy965OjjJQ1s0AvT6z+E
PoOa+APK7dKCOqkJNLJLSdeSrA2y5af+C+DKmvxvkEKOhgx3qX1AgEofwFvgTked1KxSw0oXkQKb
V9nCAtcJm4gFYmWNG3mEINKa3ChwAiEfgGTEEEeWS4mDE9s2TULKMTijNCxYmowoLPAM8E4yHKlF
zg0SADbEC6gMUCIXaOBhbMdAZrHjmawkLMfT8gApIPakUA7+ILhOLyfRKZIoQGI+joxy3oWtt+Gh
pWoi4KFpCJDNN3a+iz6ErivbgJc7YOew1MwJzCDnJJUGCCeUS+80Gz8AtiDyQ0xuNBv8u7bNi4YG
64Pr4jrGjHiO7YCeGiEyQHqOw2HhM1yUwiFdJflvkwooM0bvmDOwSmxkY7Py8xJ4YmIbRJMrQk+W
dImfdQZaqWJx9V5qRkzu7fGdtykfALRflPefwfcU56UYATZxIO2Id+4CtBv3KG3ksG0STQjpp3Fd
cyNWXIVvVlvV0rqfYvwEvDiLW6s6kd9/GzKV76E1JS9RUCqfyfepR7MhGvxB22K5VtnTpW06FBQy
NO26jxOw1ApsjATdEEUAHcJVM5t4ABDWe5Xzigf3Pc7UCmLiBNQPRP9STQ+0wNO5xA4YjP+0IHyb
kAhMEdwKCS0sv6OiyAt8Ef5VUJgpIxelTCO30VbmRoAqgFmb9Jjv3iyFjiVuUdkVGp2WWlPHn2DO
t0cL/1bQNUCiGuyT55v/1xhfn9OFSXwKuP7Ezr+g38K/rjSUw3CltRTFRXFmv2nUnnqQZArqutMw
lMXrLFrIgNFJLWfSQR/C4LVgbUW7kz9QWDpmhU2iRdUjubOl2pxje5h0meWdbDVO+HmAarWmv79c
2S+qkYRYDBsAO7GooQ5+z5uOdwt1hFtu7pa5+17wq6cLYFJtO8wbBdcPcyNC7j9y368M82davs3F
QnT5yfUkp+ZpaDGQ3y/Buj6KPwK7oCRSdwB0SKIgb9Ib/aB1wwKx9BFgCNN1gYFU0drkB72Fjb/p
IofVNAPuVuBSZPLMlEF1AQbkAW4LZua4gygXGLupIVhWbKGUVBFJqrwFSaocMAxJQQCrP/eVfAPl
UHsuBt+PLaEJn+Qsdz5hnsVNz2EmssLPLnW/l1iSmEo3kHkDqUGA2FKdO6o46I/w7yiXpS5Ptshu
VE8VJxRrUgaSWg0qKLWgFO43Mj89SjHD9L/x1F/zmdbx7vAa0kV15Xi7d83Pa+wpB4/cp4Kx5x50
B5cwAE2scVVYWCf1+YcfkkuKKBZEegv1lsn+e7QyZ57eCju31HsxoAfsgGC+aeecheGyac2117bq
b9jcfkash4SAHcHCaJ4zAgYHkCwEN6tqROXASR0Sv3B1dI+9tL83n9QwqxabA7toFhGqYJDBpZ1/
xwH+YeVpU4YKDj/T0fQxgCQZEuWWg2TCzOnFGejcyjS920hX3OWdaexKXxpJYjnll6kmTf1EFlVC
9IvYqK8086bffmE3MjWz01qu3t5YOFkDz4+QGhhyQQh1FhYeK6y18olQlysLQ8tkNvZhrzGsWUNm
5VQJ0UVP/AY2uElMTTOYu++WQ+tqarohBQJ7K1zo2GCJYrxvVL5U6XdbjkmD/NWDoZYUaIQhgluc
eCx5WrPlc6tTONNqHQ7LqZYAWGNCM4hA9vyDSxApCJMOw/PBnasE0AAF9+hpjE192Cd2/g29C39G
eQowAB6L5g0MPLME5KAM68PP1AWMZpEFfmSghZ/hyF+WQUQ+LSkDBOS1cbojXRlsxugJRKUbBM4D
jtQwWg3mESBc0oczFqTKAPGzBjiMIQ9phFwFZgd3TmsIMy5fFNi1BfOYBu+dx3VQOq4yKuB5/RfA
QnTAGUhlQuiYCpZ7rz//yY4FXwSMCVuFz7Y+A/qFAo5OH/It4hMf+6VvbxaOgGwSjWPy2BxJ5bF/
59/RP+H/rjwGvzQyqiwXlJqIVJK1GUuawvHsJ/WbUgVJEksXM0XxmXKCnkWhmBKmUcaApT8aZsEN
1GywDw1kAEEfR/bC2cnAYAhz4PtY88KDjyzV5jVN1fLBobnlW+qrNa7pgH8tMEWA5yTp7q/WD/VL
gCOYG8Vnu4NFU+WabYJM4D4x00SI04QVg6CJ7bW3RGDAOnE4fiU1JQJFWEfFlxvHPV0z/MA6Obc0
Hiw2NkxT9fIDNYq4FmqUJ9RjotYpQ3BtldTl8dzN5UoVCLUAJOwwuUGwIZyDZwvnnnu7TU0Kpk1g
twFHIVaTuaULO/8f+ir+CyVWbtpFy9/nhuAnzUFkkUfmjdKMX/bOWagC0Jbiv0wbpziYdx63m87p
8eLmAiENfyW3esHT4zzjqA63Vy0dKC4c0QSNOF45WTlSrixqbq5Vuzmcu1ppGbpOiAky6rXz55qD
NadEqBkj/Lyt4oTTM+MzJzcqPSoqgVHrgHZul4Jq4Klu5XUXDh/NwR4cSDQ7CA40D792odsmYt/w
4H3glqhVrtz+/n2dOcpWnLFbLcapft288zn0Hfwh5R74BbY/XT4QtNFYep/MDcu8moxja5M9TBtH
qZMPo/E2llbV5Klbb4JmJWEF7dLx1JllSTLeQQk2/LOaOS/h2gk9uv9UxRQ2CQHGelsPnTsA6zaJ
HlFwPIBquixyLFMFeKYBPAvLGM1lyS5V4toWYNHJvA7u3mZoAUwJf+WIdGBy2zFYtsxzIQBhENsR
cnXGKaOOdx1cNkQymWgREgbhrw90+HZw+LZIs1bi247hwT3BizJnSpRrO/+EvoL/QCkoJ5UHQUad
qXJMw/U4Y7Tw3JBNnfceZpFRHadYPwsFGbBJZZJ0mqlGVTJaLOMA6XamwQD9JuzWLavlfUHiaeqo
1TpfmrNkguj6fzR0QNy9WuuuxsIcMw0Mq6KVEz3Lvnuc5168tHFk8bY4ZxjmUoirAPTnnVKi90vt
tWGrs6ybK6OebbnMxxpYYi/Wqicxbhcqt8/VAJuEUbkHSFMH7vW+Yn007J2Pc9wL94sk0iNDDa3V
w2BYw9ONO8rzubKg/Xb3obmVwzaqErTQOXW+NrIAZUXxuWrj4GKJc+lfAZpi5XbgA3+NfwlkeFlq
2aizZ2B7QpyMhxOZPCcg2k5zSqXWbsR6Ez71cJkWzqQcxejnCAq8A436mULZsjjr1qpPaXYKGkMr
lITOcit3eNHmjkdUXTcIAoSwMVcfCTuPzzw0f8UPKHf8o/P9B2t1D9y63PuP5eyVhfamqnYa7f7y
vsE1x+7WmyuODZCbAOn+5uimxJVZe0a1RCIxxKlujpzSrxx9TtfdNzc/OL84umY7i3O9s5oNvo5w
0KUX7HxX+Qz6jsKUAHCvMoFIBFQCqKIEv5lmBGEKBnmjmxKPn2YyjRyBw3IQmnM8UxdNFdTXE5Ew
iGdWK1THqyjUowZjY9di6BWMqiI2mTAOmmqipDn0W3YeVX4bY8VWVqWfm8LN7Ap4PCOpPEMoo2F6
VzL5GvI0zvymxBMGL+gG1tUmfG2hRPkyswPhmkJIK2poOqBOoCRqhL5pAEQLfZ3pzjJQrevDCsLj
+eMDLjRm2cAqqUw9FMsH27JSwKmBUj90QjHwEvovyRkREL9mihCF1A6abfLMfnCqPFJBRgCqZRZJ
gugttI0ypIm7sh5hvbNder9EICbayqvE4ERTgYIhduwsrb05Lz0K47LIgtmVu0T0BQ+YLYM4hL6w
7dtXPdhS/fcMIIuI5CkgFIHo0jKOr+iAgQDRWEJNEXZvhWr3apJWojrI+dXKK/AZ9GalLDlNMB5k
tYlxinzBiTZlAlp6wj6Smp3BOVmciNM6RAOgiXShUWckHWmzM34nixpvfWEr4BEyPSEC5pDGgbfc
71GX2pbhInv9WddOAbYysRaoDvIRORl3fqGpy/CKVGxh9HIEirnLjol8iiLX/3NsUKJjmcn3/ZTn
wwJTXF/P9qKPN9C35F4EYWaBMqWxH8WpQWZxr9mZwXQx7qfKtJZ5+/4ugYMn79Ost1WSj0cWSetE
cEUNg/YCNQ/eVop+JgHEhJBwmBSybXyAzX2w+Gpe/cU23D785NG3kOE/FthPlbRV8l2NyNCOi6rY
1CiVXwi/BfBoAxsd9ywNXlKScR9bEdjbI4qP/hf+lCKUnPKoxJNpKoaLKZrOVgI7Q4aT0R5kQlnU
mjIVucQZLpjqYOaNbgABKfaMpM2mnwQL6iO0T94bINyeDg7X1ohlYbLgYiISQJ4mhygGXiGaD0tL
jFs2j3rHRq1NwFWexgFceZHwrSAeQNArl0/vizsXNDZXbZwMGQAkkQMkI7dMw/qyTMkAjvfdeZNQ
TGne8kIBH6MUab4OyAFeBOka9oFG50LL7IYNz9xsNtaKCFNCBc8ZsCMH+q0zUehy1XnmhcWrhbJH
60U9EMjQQdNVrOm5iLipL/ngzpPkGv4OSPRVqS/f8+Rx5sglQuok0+A22c0gT0WZvS97ZxoH411Q
Ok0RTWZp5Araw7STvbxAajJrexE2xFcwcj3vWLRuMVUtO13zYFNWTxoY+Eus1uxmY1OQSrlxT//E
6fod/ZUkiXKHz50//uJOtWE36EIImGmQtM49eO7227b2BZ6fX9w4uv76w6t3VAt5YWwvVk8GklHr
RnKiWKlTTpzAP91or4O7oERQFT2ZCL9n2lZ++5lz3WYCvPns82GnhajxiXd4I84RdfOBRwbPnlse
E1Z3Tk723XPftQeOXzSNUuTXrDbtSb62lisdSPxm88Lp+66efvrWzUvttq6eHC89feW2tzWTSqs6
0I0o7K7p+qoXb9zV729NytxERLjYs2Bvdv5z50fxHfinFUt5YYpUOt0UfoBISZaOn6KTVOCZBKW2
y4DcGc8y990+7d6QiWzInZF+Ndsz7iCJ5KbZC5ljHcl0XZKyWohd6HlbPsVqKSZFazA3BjygbUFk
YIgXGQN451GTR/lS4BRt6QwIsE14wMhCwYpc1URFG7VsZ+MFpasF5ECEg+CpYfdETlNtETk0hp+o
mFNN4ziEESIT4gDvDNT41qrOay+927y3KewAvYr6C/8F0MjGJkT8CHgIXclfOnUx8SxCmYZsswiI
wdACu21wv+A26JEJ+VFHrRW37tTBD0LcAQWaLDo+sEGK60x6mXC+jfZVZMldJrxVSSMwSjFie+er
6Lv435RE6SmvlZ5/L6OxS7tA/N1M0yVyxFlxc1KShagpqt7NF4g917JL6cZT54Sz/NvsayFMxNGs
t0C+JIFo9jD+RT9Pm5q7WVuwNTOKTpUH7ciHINBBOBcEpk40mgQsicANuGAtbWNcKU3cquv1rkYV
jM+uLRxSqe4Crtp6ZggcD6FQ5WmZsnm0tXJeyzvJ+sJjDV2TVWqMHCsXj3mppK62MuIPJN9F5zQV
61T0O6tbtdOFvOoWNlvdH7sZfYDSreMHj28+nLNjxhuvfsPZyf9iHcOMj4+9EmNuPP9A96GTHkAs
vVl+uG6vRUmTahUXIAS3AsFMiNU8FxPSt1tLh5easvWAofXh4QObtuVF1968+O6LWoWznt7koe1l
uYXf3Pk8XgffdVpmHFNB7lK7GZ6fJl/G0/xpit9TyDFzWLv15dRhTdbQ+73I7xmOkbPGleI+o5vz
65Ssz9dODkzLANDjAhwCJQp4br1ePjSYUx2dEqeQXDrbPBk0VN6NzVzJWkAItOwNurba7j2jl+Qw
zptzJ4affNbF1wSOnTOsnJWvq1SlLdcpGrmWrumNjdrhd92af/jEwVtddal54NjkSs4yLcwcS6YO
QC9Xdv4Nb+BvKlXAfcDvJrsGn2nQtGAiuzsi+CGpc84q41mVDj6QVsEzzps53CxxNy0AytzrtPgH
TiD+CcEsS1u9c3X/cAHhjcLxvhlNir2qxCP5vkOLwFgALmqybyGGoKUG3VonOpC/uFTntDq/fvTx
ZrFoAp7iZdcpsFMyXU+J595qq6EqdBHEV0+f/fTdi1sRIp3W+l3jpdy97vP1Mhp96P9dLVHq26pW
c8tbiy+Pv15axbjgL632bJ176y+69QW3nr6v0UsE81XYkCDHaM35+L+H7kJ+xeqWs/6Yh3f+FH0N
/6dyq3K/jG03EP+0ljkZT+2ST5efJQxmdbVdD5pqTGe822EwI4QZwhbxrM4pOHqXhnHZGxS6ZwqR
6/Z8v+Quz1mhtND1E7ZJ2Vzb5PO50drilm0xCNfYEhHBpnZms3rxyCpCS8CD6363Ud2snc6PiyZG
Ws22EvSr68vlEgG3mi+7+BErX87bEN0vH1sfDUs5v6AVA9HwgpaajykT6qE3jIt9s2hbcAeh5/gd
RuqeX4lOJJY2f1Nj+xUjRqPmyYfv7US65veDQsOcV9U2/te8KWqmV9HAMsG+Xq0IfBz/k3JfyjLW
BrFMKKxtoyn+nWavpJqB0xuMvx8BS3wMoDdLOHTDCMOb9lptJKzYRQidkVS3D4IGWc1Xxc8oOSIy
XcDH4O/L6698NFB1mR0HOmL3H7kwAtyvwjYyAxtIH9i/XtOZhmV+L/sTakBhZPaXEgJvlUWzGv4i
MdBusw28Bv4Gfll+2m0LWKbOsZr2XPgemXY/ASvA1/+Yq1JfMVMpleEBf/vgO149QETVJDWyaIBA
Rv+w86f4h0hRuXMaoac9CFlGeEp1M+OTgkiD72Rt2uWU+h/pk5rT8D3LL+/qWQVP62gdXCfEqJe7
4ZbdbVAMbLEQxetxuw8+nOHG+gnh6Gku0lk/uw/IGaxKhMiUfV1LEqXCMkSlOMgfdy9xte0ttq7m
8vO2QTUBYAv7RX9za8PV/eTgr59f/tXL5Ynt6pq9ngvLUa0eZLIlNURMgn1CZU7GDCSE14nQcknQ
HfXnHA17t//SX/7G1WaF5HJHm1WjUdJid+qr37RzHYf4b5W7JAeRthYmu0EVlGFTUj9wOTIZnMoh
WzkIYxl10gpidziaRdM4SnaznaO0zwc0qDuadvb8AeGw+eL2YnwtdmVZE9F8hJhqIAfkJjuw5F9e
pUD2YWH1pcdPMyq723DF0BEjhqYTFUiMVLl8jD9JvMJXqsYTdNnSuwYgcfrr92OTmsQgtuHl/2QL
IhgvvP15DvZjajMTYW4S9zuenRPe6jojLy0GNLZcVfOpQ7zXsoJBaHd8/QIwbYtYqgV+Ktj5JL6F
dBRfVpna472y/hSId3kyrS9MuzJmKctZY0Yqqd02jilXAxpdQei2UxunirbK7OZm51JxXncb8XeB
KueDo53RvqOhXqqGh+utoVEZGqVB/TlH3cgLgclzIK+J4SO09mi7O7BVzjE1DI0eWT5+xytO3TLq
PeQa/YVDz/rA6269WOsOqvky1+qvf//Vjx5b3Kcy4Bf3HHjXK6+8eSXn2qrrckIBlpk1hCqBZe2v
B51eVGqrRjfLZ7x/5170BfxngHNvmrI6Pq0qTzHWHpH4wbA1i+6pb29mdKSyG/MHa+CTn9S4p+uM
QzADuHGeeH7oH/D7lB4tJ8lqhQNB0E1KI77myl4hBrg/SBBiLjjBs+daGq8ZBdWxNS6o4TocPdM2
apXS0mI1p1u1y58pLS07rl8594aXvfNwLgmJCI+dee073vqrm0FomUuVRq879HLqwQMfemDfw+Rv
H3zx7RPfw7QU5Gv5M+doahtP3flL/AbClZdObUOWNzL2nTqP7y/BcSFTDal5VGaVpYwFpKUUkSUe
98oDMgG52mhmqbVkt/giI72fmd04fisVFjg9hqO3J94rLcFZAv4CjEU8wUqX28XQa7asXIKWlvwN
Pw44uEXM8xSYpA5cVFgWyDQ2onnAc+JQO+8v64IbgNWzJkPwoWkrnKwsS9eMWA1/Avul/7Nsl8A4
n6jEnwaKZTJgeyrAf/HbvHOpnVPdg7nBGr2r4yDLqmiqbEHEmmZTHXGm2oatq2DJ+XasG689l3iy
hUtDGjzVXf/hksN8HczSoSbOP+1NWhsNE3DYJqA2yav+eecbOCIis7dd/enYM3AgprEez9hrpnHx
DeBg1/xsNOVWGX4cv8yxOoEDRNAu+EzPUbWu3+mExTpG3ZARTTftSW6kMbuxZVirpw7dlfMEI3ak
xgCv9aOT5s2L2y3XMvIFo4tQgb6hVH/KW37o2q2BRm09evq5N7575Z3I9seEPo7Q1tLSMF+quvWf
unLio6+MvSMYL8ZuaBvLBJVdr+Stxza2c4fKvmxTxI5Ns9xcc+cafi/+C+XpWU9ABUW+7F2pzOgJ
rBt3p41AEZ/ZWn/6P6l6u5A5rTCtZRwGQNIyGso+kCTNMsV+kolL9hnInjD8PKkMyCJMZ1RQAG+U
gr8UzB5j7VE9Db7IEZpsoub3GQ+7xNKRwHQ5QpZOwHglU8sXKSO4wUCzDMFiiH6XQvZsK7qk3xSA
nrEcA7eOf5nEiy/+eHj9Z5d0zeKBJtOFfoDmSwNUPzX/M7xw/X9XVdXEnGg2ITbEtdLXit/tNN7w
TOt5vcs/7slqIquizpne4sU+uqekE4MKXfbGFv9yyby+U+5/qvovpy3my4q1zZQp3vwO+jT+IuBN
2UW0xiMphEBSOBDNqAveK4XmaXdTIttgZRpUCnwo0y447Z/1AZnyKL6xTpp9wSZqyi6NZExWVld+
CiR0a1m8BuxPk8gltmXqLG3QhX99IGkIPxS+MZQpWRtjsoeMKJMFFJBSQPCnGHI+v+Ve/2z/k4aK
2jmbebplOhDZwp3169+bk2KRoVF1iEwaYfM/ltH2wvxfz42u/0Mss+RgbrAZKR5gL/pRvY5uzSFN
dg0L8r3LmUx+duev8H2EKBXlyLTasoeOplmjDDZJQYynOYzMsDo3dI1UxCDGihqWH+p1tg27nLOO
j8pH82PHF6YqgO+asI2EOolw3LIpBt3y+YHdOFPoU3Y0PjGvuqaruczFEX5T6OXavvejtz7vL0bV
474e5QZn7nry6fmoCHKqsIMIq3NGs/PpF59/TTMfUW6fWr//nZ9+SXdeIlAGQErV5bqu7HwJL+M/
Vhzl7rTn0sbxbvUogL3NGEaWVpxGtP5uxIrCaeJs1n8zY63xlITd0IUJKhB/sOhpQugmr0igEsBe
5sr9YX7jSD6OCLcW9i8X1ppaqGnCyJkmxDC1YtQXgt62bZXtSTK36R7YhwxcipIEm1bkhxLAEsdD
j524uLBwZBCZ4055e7S5jE6JdeNcYW3pVNMLmO8dPj137qZHQTF8M9dbSroW03HfrRZ6sUD5aPUt
508txBHTe/7xJ778M9UVyvcVh0dPHN9YOzZcc+Z5JNEfUv5u56v4S/hf05r3XtvPbt7whpTILK0F
gHmYli+yepo9y7nEWYfNaNgZgGhFyMO0vtTIfPBuOW6vZMc7eNvyCrfNzx1zHI1Q80z5YCXy1q7K
RBMtaYiqo06cdxfnmCZkSdmSTIIUcvlFVYAuDcOwYqR9+rGLOVdNz4g2G5qdqzc7pweiVDLESid3
vtFadaKYmSSPnxn75TVdf8mFMz99R/uRvm0Elrv/cQHhVPc1ZORu2SoUm/f/wVpcQO2yBSQl72iN
/Ol3g9R0jTMIBtYifKsA76abFtFx4OfzepRHIt8wbSOn97705lvftVKNNa1jRjmjkDelPj5VsfBr
8V8pL1DeI6daZLxaiTInkulc1mKRiXrUSVtXwAftZgNmyaq0nWK3GyvN8zYgLIxS/jvey2OlbTB0
GYUyQEQrq9IxSb8PcUR+Pi3hZLa9W1ZIUxNvkyMlVJZ9AUKAW5bFCnDbQjopmZcjyApqy+eOLp4G
bMy0M4dvOjNmvN5rPFIr3NsG7MFBOBo21DKyVRVcaMPwkJM7Ha8utW8qRO2Kn0srUrIwAtyGSf/F
82ujI5XBfvCGth3ctXDonoCT9LqHUFO+FRyiKnvmgsYfz18Edw5B5q0LJpetbT71ojfn47jYXzzl
6LXY2Wqduul4vSrwU9Z6NU7Xe4WjxXwJgKPKkcF8mVGjoV88XVk6ZhYFc3LB0lptFQtVO3OoF8rl
htiEfxhLOyOcejL3QMGdH7iJKC08Zw78mM/ZnC176p7c+QQuEBVwyuUpLrb3qqcg2UDmJbInpymN
GU65oZthPHMle1VWcD8d9OrYasTliik225Wx0Cin1mGcHFzKH4zjEnxJKWm5Tdg4zldLps6OaFpF
t/RCfKzSO4TIWsVrWMbD5bHgB1rbz6iblu36n9fVsFC9XAsDSkPDXSzrVfTpeHQoMMwwOh2XNjaX
DhTWsaERHOhUpVXXHVfrN0WyPXq5vHZb2U808dHR3fuHt1H1wJxdqdq1JJfxxyNKhLv488rx3Xys
RGdrae1ApNmGRprdjtNWmOTGaZEU7LrdGQmfkuwjWIgPJ/Rl98s+dPCqYLxgoxzxq0+VqiD7hBjf
60NN8wvdjWsula1CAX4E/lmkQGPTPrpQU0G3PNhWjpzkD/t/d8ikjmoyUCEdx9dezlFbFtCBWNqJ
LkM0LsL+bu58DL+OKMqZlBXH0Q3kZWq0crP492WRs1Rm1l42TevvdgllqeKx7OyXpHoL31DMuRsM
wj5v7c8tdeaqCAWBf8iaAILGVrs4D26vIPJmaDJjXoKvRlxoBdXQ2DhSPV9eLBR1ltoncTSVocfm
Sokj4FdGedeMtDrH+Bn69uuO/NejvsH1+cV1wd/4lc8dsgpFt9OKX/aWR6+YxqUFIwEKTvWORpiz
BgTR2mh372q7LKyeu/zc9Z/fsNWW3qUkNK6373j42sN8ye/m646rB7Xxk59YSbHE1s6/4/8B+OqA
cjLrEk9mUXbqxabtmFkiNNplxZPODL7OQk2QxV/5wn3cfWRUCJnaPDe4u6D7gbAjkAd2mbH/3rne
YUmMcgGTaUxs+MaGWlEtL/Bd5pGg/J8gVVf6Goinv6NWf/+Hj96SS+554cUX5nXZ1BxowD85Efsf
P3rynT0ATOoLNZz0y3483pp7iXvMLVVqpZya8Ib7vSdUVi4COrb9UOZ637fzTfI6/DXlAeXZKS+M
96IjyXoHk/FeanuW896rBPG052A6WyVnqXanqKa9CTLrMutkzLRmOjkiO/DaewXAbud/irCUAHPE
lZbdi8pm7FPTs/zcxqhQbrp1X9NwxSiGwZH2UhtkpFoEWJ550FzYFCpjTAjhUcc54KzXwKqIG5Xj
kLEC4jyIm9iyIhJYui9eyJlpOMykOtDOxNYM7po+dkOOnx/sv3z2dIeIk4fyF7s93d+w+sfWF5ce
PtYo1Zjugk5azPG8y9tn72Z0sHh6kBs6SXL1d2EBufjhTseixeI9pQcuaKprX36C4HuW5g4BHA62
DtxOm7VVY5/GG9b17dBfuZ+h7vZc/tknjs0vQZxB6v4Xd9Lc+86Hd34TLP0zynOUx5U3pb2x473W
sSSdc5NdfPGuCcuqMR5l3fKA+sM4G17ctVZ+Q7IPNHK6v5Nddz0l8LNE8zQtspe9nzbfyrI9t0DK
xXKveDHILRq63T8Hm1Av5jS0dXdwotgrliQP91TZSixpPtUq643V+2rlyO4h3C6d2N6aKw1sZuiY
mrAIYoalpY3jB/apet0vVHJbwciT5TnhWBbGBVXkcrpmWtXCrW1njjBXY1j2cNHlThm93Jnf2j6U
961K62mtxnj/bY4RDtBcs0n/4qFIs4KDh7b9HPdNWrO4anTUEgNfVKy59e1NzTzQ7613fkSIUefu
zf0qj10eBlouduJEK2l2sXnp1GXTesb65VIORxv3wO5adc6r7CtCJFXTtO1W6S5fhC4gKo3msYqj
nC9t6eL1/8DvwDvKLYCSXpTmsr8vUXRjVn9W25tGSjFr0ZzW5PqzT8zyT6N0iFbiqRClBhjGu/1P
e3W9sMKS+AWy05vAL+52c7zSq4OgNa2stkPPrHB1HOYp7rQKq0aXA/lkrWJ+rtLgmlq1hr7rYtbt
rsAeBv2nL14uyB5XUlbRQYTmNqmjRS0WgxNaC+oBNfSGsSg9kmycJvgt9tXXbf3QlTsWO13NXZ4b
/88PfdBbrmncNNp3PPMt79hY7CV5sFKj3XcQn5imJvIPHD5aMJBpzoX7JuutJJ+PBvus3K+NH175
sfPhpjOiY/K9exBqPjzQYgl7qjd3//rORz/2kkIhKmrtd0RLk87R6gWrmsbt/s4/4TH+w9SHyYxc
CuDTuT6I17JnroeaWR5hN28n+2tmHbAi3suT82a3l019yrZgmWbYhwbZhC9vDmX7ULMznd/t7k4N
zSJ+5wXcnCzZ1HruU33ZUBOcPUmSP/KR7ByymIVM76eS949kTYHrwGexk/xM3epu1gCIa0j1hImE
YEPRyr00Avv4bT/3GzmZjSA8a09kPxEt/UFEZTMHEwWC5VyU8WPdIlAG7FjIIYiH3P/pHysgS7Yc
yQEfAAtV8IdEznsDqVNVjTi5L634+zNEjKblCPxk22Qmkow+ZjIII2IjSzJ9S84zuQAwrD/HoFmA
VyoZVrpzZ1u5jv8y7VpqpBhgOoqQtg9LoayBSxI9LBppf8AmGo0BO6R9Lml9QjYNA239CgWHnFtD
aQsmXEDjWHeJb3RQxcJyRjlwLVWXg0VI5u0w7td4jkbc0R38EdkOoNutN1qDx9WXPefVl2SjFXxR
zAyE5LyOsPRAS8jZE8vPRddeX3xubf/+dEbWd9M1aDtfRiX8G3KuH2Kfn+VMKjhLmACek3c6jV3j
HmFXbeOaBeCLAcWTzWvEuJl5VwLZv83L+GPUuf5vg4Xr/5nO7VCsxgiZ2MTFfwyOILupMY24Tia7
6s5h5Vfx78lMdJKOB8WTtckMRMq+0PRwgOGkKad6Uoidzvtk82BScQF/cixvWM7Z3zjxsWEhg0Sl
okyHYtmKJhGlrudd7HGD6CyoJtiTdXZ5mgAoBkhYEgTZPevrRtEjhvYkLjO5GwDliPnm97HwDz5c
Qy51QKUg5sIulVk63IXSFnyVRPXrX56//rnLPsPAJE01bQmTHXvZWi+j8+gD+EnlIPwiRZuhZpEx
bljZMprl/BqjKbYI7Wkv8F5hHWwzilFb3mt30eCg2kQHEbsqgdsSMWkuyYyTObSX7PRggUQw2eyk
lk5WpRREWcfvxlwli7fdk5hclogZMUCpmODeprh6OzEISh4pXW2oXE7OgqIJjQj4wldeNTSbyPMI
YC2rO6/G0c7HpL7IXjx5e1UE/mESh5LUpuWBaftzH57XjMvPUNd/Xtb5NMZlQhvxd4TzT+aEnIPD
t4CIp6WiWE43I/CldjolUIdrXcDboCO/rxQkDpilLVJqDOx5ijP76ALLadT0QyTnhqmta2n7ofBc
5ONfMnyBw3IRxfDdBnghYmPDAFWwJc595s530H/ghlJNu7glSAP9EdFu0mxa088g3S7c6GR9Vlkv
aJ8Ot9Lc/uiGkuJem+3KYIweB6Ntb16KVVsTGWNWedlxl9y1I0BR1FV4BkCaQWPualKlApUAmBUH
EmFw+X4bOcHGodK6F/Bc0Tjaqx1IyhGYoIten7dz6+7KgttpzJU6XhVpp+u5LiGF5MRPLli2PqBW
8GfuYOA3sCiBRaqYWxRZ4HT91ZC7buD4uon4SzR1offiRVcPk+Jj7zn4UGIzJ1zSAyxltLjzn+hx
/FdKTXlIUSZrs16/waydBmd+X6Ynwjg92GM4wrsne6Q2mnXqZEpfYeE0/S/rJWnBqTHqZAM86VBF
5xaMdTlYKdr56uFgYgjdXtm3PxfJDgigd9JW5dxtBygg/NtcsfvRQrEAWJhwaQicGucXNtcJVVFa
dmSUgTNCjBFxGFETGyADlMsdfc6h+cE5fGJ5ceBpPlaZ/+iPiwTsiKKTF5EFtgD6jtzC9a/3uHnz
ph8SvtBbN02zEjQKjUrD7W6avp8yEqm10r5kqgPrHxKZzW8rBB3EoTwxZGbdMzWaDgSMtqajTqFN
94rRe/3ZHJXB11tJYdMqFTAvG8ulTlXIYw0SVV7Q5FTTbVG8NVzU9IrV9heC+S6ydazW0I8Qlxai
JG8Untp/8KHexqpuMRubtkpCnURIVy3D5IFVPvysVzxrOdCokV/Evs1ligv2/M6d7+IS/oZyd9qr
KOeD4gFvQhQO05lzmVqv4FlBLJtnmCHuYTerjjWzHZ1ssclYRsPElxhulE5IyAME9iZFbHRDJXEL
zToh0T+kPpRQFhCkAyUGT0EcJ3XqiAJTTnsPGLFGQk49mEQIK4kr1Xrb74w4mAfllpfUAm95flKO
DJaeIoIbE8bNpwzMqhX4AUgBeWJYqi31EhNkgLX0jBX8VaRDkEdz1796Qqg2oIxC4dZGXNMZs4kL
LtN3mAvRAfC7ZbjxeYgJOhHcCFzfMQW6Y63XI6JQP7w8bKjCK40qeZOhq+nsBighrOV6xzaiB5Yh
MDqddqN4+eXLocdYpZgzTeoSjTQit4pk/ex/73wDraFvK7ZyLOtCmvZepZKTMhxP6WlWt5RkJ+Kz
XggJNDrjvSknMNXJ+Cih87WkCyymFMyr4Vxohq5WjRiPD4anzCQfX2kC8oDQsxAsbKUKbRtUzk5q
dQgMlbaO0LcxDg0xavRvs/S1/Innabpf0nSX0t9ec7baJ0Yry+DiW7VBO18DQh5pJrORmWc40Hm8
Wi/l/ODSwSiX9lkdvf5V2GOmRMoh5WJaIdztLZvpxm7D5SzRJrVjNP7+dtdZ5iaUqdaM3WWI5W7H
Tfa5rllU66quC6alwA7HseNrBGu6PjBjlSOIoFwzXa3lO3kaIi/qq56vOYbsBmeOYBHBNi+xDSvX
+tlH7vq1sYecEDDcxQcX31K9es2MnYZbK5wPYiNe/bVbXPXb4tjmbUevdMMQMHtw8+duf+yRsFTm
OtZHy93FdjHW3X0b5VArMLC12vV/RF/E+5Si8vPTzpY+aqTL+QGzyMo5g7VZO9UuUdqNNhIDTbd+
al6zRqHRdP4NyzTE1oxb9dEshQ+QKhtQSmcBwURnE4LpeSBTh5RWzG0ir8rR/RgJLzy4td+1GS12
rOWoVSjZ2ejKt1CO6yRwzkaPbLYHhI4Xtlceafk2iLu4dpNrUqo6iSXPUWDIqEady0Jbqi6uHR77
ebR05E5uVqsruaIN5uJgV9U1metVC5G1WcoXwCOSRyrFsjA0Augy7XbXiHd1EQySdfIEsJwLPt8p
LxerNxcxGpj6anPh4JF+azz6f9Y8g2mduSH4xSb1/wWXNdszsVYPtsrD+Yah5hvB8XKpg2nJs+KC
XaA6KzOHMzdmWr3WPWb6XDTNpjvXmoi0fwmYus6sGBc1DdeauTO3PzhfLGPsYtQhZKlCLBMxS9c4
ABORx1o+AbC1fE6vV8wlzDzizR1at916TYCtL+78IvrvwCUc5dm7tfI+miYV6a4upGm2LZw1We52
VmYzw1GYVvRkj9do7O/V2cNpCTSrJKdNYaMbaunSj9zv20NBHOLFeiI8g17/etGx2qWFfhIhKWh9
bUktWm3dLdYWruWCTUa4jZ0UACcOomBeYnxLtz9S00YE0AKAxVxyKEp7vcnEihNhc+O3+ssfedXR
LjA1u7H4kg/s/14FSI0RnGovJB8c/NRN7YN5rf21d/UWOvXFLY03evnVDeueOUcH0E5N1w6ZPHoB
FNmbdPu3FVUd21RXNd6lRQ0MuAEYh3KZBjtXm9ewaRl+QQbjQAl3Pqt8m+QUD5DkojJUtpQT4G/u
U56mPF95o/Iu5b8pH1aeVL6mfBd5KMWaWZ4umQZomdiUEzXjZCw7h9N8YDrnJwlwkqUxGpL/RumU
YyJPBOPNOMlIcTSJBgnvhtI7wVtljG80GzLMwXPwjkbalLYfZQOlk3TaJeTNzJ/Bc9OhwVAewiTf
INuz4E72o046jppabLfZiNKc1YhnY1AkvCGsDsez7nU7PV/ElyeWQRju2lhm0mRtapCeGBWlJdQo
vc3RcOolQgfJJ4ajZgfYnB6FBVU1EjOkfm5hIcd52ngCUAXJUfeUoqbFpZQeYUm05FChbFuVQ65y
dELOVttpqTzLk8lSTfoxV3LubJwmnjYZZjUj4CjACRiT7JcyV5dPGzjtckFSCVmKDXR5Uhow/RC4
KWdLQdWl6VepGkM6XzlcWtA5WCatL6CsW0akt0yIg7Eta2XAG9JCRFWCDIp/ieCy55lU1CtUPFCd
zyc3pbdDZWUYuCNOT3KDK5QEsEGAHxqRzd7CZsP0zjHSw0jnMoxk/Tlp76M8D2BOHg+mm3hJwlJw
pD2Rzt1ioMzEVEHXTTY2pP9DyLBR8Uh6VTkvZupU1s+uEjnNAzLx8z3Lzn2ceLnrX8HN6jAXJZTn
hSAaVg2u+szSyl5YfeoQ6T0XyXHpr0iyBbcgbzUTPjYob/g0za5YwJA9OY2MxiSb9wT7cXe+sTNW
voL/VjHAguYB0R5WToP9PFd5XPkR5T3KnypfRT7qoDVghFnggiA1GpPUMLZRdvpd2k2V9lSlTmsg
0rz5sBmm1tNJTSWMgF1NssbD7HA6IGGg+8l0cnY3M7iXk5c2ORDjvXJTeuSZvOx4Es0yiGuzdKPM
duFkeiTAbHImtRiZNOaN7MiziYSqaV92lzs4nKaCmx2RAq30q9cmI+7M2g2kqTZm9jKcjFLIMhzA
TYGxhc0wdc7ZelIo3eWrvCttGGRxcxgAedWNYhHVDA3iSUui29QG5ExSagDw44LuUzkUqsptIm3Z
F67LAhIw9LTKm8j+WVWqCG2p3TgONLsKauCn584Qx8SoT9OBNuCeciiDZKbV0HQ5CyZzGZQAL0ob
epmK61XXjbhpgIECUGKLRakpEPmj5e6+bnZL2HOPpTrJgJKAhcU66Iu2roGapQMeLoRBXU5hpt8N
cU9e0jB1DelgOrQglUyOFubh+5FGaYzSeTuZudi0vLhq55pOHl83BaVunFo6Sa/L5LEwsjZYZ+lx
DYDDZc5MDafa3NCkDWNzNWvGsdODr2TlUTVaBy1iOXNhVccscLLjOOC21pmcNEByGm5qEnBHpIAs
VTCZ5gGL0Qy4+md5YeX6L5/2MeKaEflgiJEOF3JaNRpZPvCrnNs8W4KP3/ysUATcs5yPCbmTVEpI
Z2pCgIuumnkc6vIiOeBxjsbTIqUsi4IM5C278lQp4cs6tyxeI0/DdKEijyazBA5SjyVvPOWYw53v
oY8BZnj27vkZ2eCF2OuIBhYwnM0ZRRCDs3YfKjtdASyHcXqsX6b2nawbBu82LkSp3ewVgdMzqS5g
a/7wSp3JIytlt8ZVz5rkK41UbrEGpFsOp3JNt9RoUON6o9dYEKlHwSgGZkFM6XelTGCFqMbTbwEJ
qA3NOLIIixXYTtBnsFbZ7vfk0W/Sh3eecKxY1Vfc9FgCrOppvRecp7BN2zKZxRkVzcHCRPtAQKUe
yf8EAHuBjM+CNLUy3UCThoCLWqpFzLe9reOdA1NoqfrBhUAHb2nkJe+t73xd+Rqpgpe7aYbBgIqk
0/yy3EB4avw3tkvN6hi7abrp9AswFT6tPTUEf47nVMAcciZzfSoYN45iMC09L1vraMiFb27miwj3
3CAxIJIQahqBoETWMHgtoIKnzWQUHnAT4tY3to6/8d61K4soXqnM3z8aPXT991HBsrTThlV5Y+uX
T15aKLnF+rmf/PTZg291MRBWfaEDgqOdMKkb8tAqQ3g8wl4YGMBX1Wzm5aadz+KX4pbCFF/5CfDk
qU8NZrPmcmloegLo9FTA2emss0M1skFokIOf4laZFBDZSaIoZRqjGekQe4V2+SNbCeIqlv50wqd9
BKkmZn3W09pqJ00cvJHLUY5vqLzmaRTgu6Oq1/9L9gLg2F+4rbHqbxwpnTIMAmI1RXraDpipCv4F
jRJUnnPy2wWkGpTpwtg0Gbxs9Dxf+KLq5Br1um9YADMAs6deQKqsBWLn8qhRXfo0A6wPeK5sxU8H
2xq2moLdJPavXZwr2kJ3H7qGbkaq9yKMa+HKxI5e+dgwyJfKFzZvaVzFq6HR4lWdCr1ndDhqvEVj
uhHcvw+h216wOL9iBjjWI8PDlx5bm795HCUIVcv9fFiw6+GvnMrgg+QcLP0nbbwBwABeovBWrT70
Areumq/Pq4gjfXrG0ObO+9Af4rpya9apBGAxO35ielgYTnMJaahLszqylwhPT+2Sbc9rk0Fl2njb
mXXP3dBkBMpw3xTWoEhTU8PDRDLsRkoDO4u5fHU1mj+rCr94maenZ3GDY1cYjI4OEiuvdvxmfXgl
0omKmYxeR+XpQVlvJYWtllrPzt5Oml+qSiN14Mcy/woP10vleld15vLJmy5fv55IDxJJH04N/TNf
dU8uOjrX68OnNx3hEIFe1SYKVcYgkN/AVAmVmtJRLkmPOSsP754ptFdIlE91UxPY7YOfaf5Ud8X3
Nf4MMyaGjs4vHFlSWdEy3Lw9iBpFt20YjPvh4XIhh/MLt77VcTkz38SFa7uy990MVCtHqWGadTPC
PFgLjzdqa6oTVrmKeSlqH0NdrFnrujU6uvVYO04QgNITg/Gl4UKxa+qtlldK3m6rEudy4RVrdt5i
wrCTvKXO247FyKj1tIOF2DD2t86+55Bl6kbSJVn9iijJ9b9Db0LfUmKlq1wFHQlvmHPro+kZHCmi
mxLStK0tKKFIArTpoZUzFhlO+5dH4930QjZP+RrkxEZ3Izpg0tAZ+YXlSAQR6bQsiLCmYUF0QLYk
EIZRuzjXGzK23ltcq3coUUkkKlYF2aZvh4in05HI929DOOcIQwTjjxxfa/U0e33OX77pxIn3vcYE
FjK3trZvs1CUx+YcUZcsPSzlDl0V4rmnbv5grSZ4AZNHntJbcSLuLpy47eKlA0fYpjanzZnNQjmV
yTt2+vjpuAms8Uh2ltJ0dnQL7Ta2zDw8mm17loOKfzBTleHacXe8O6wU3jBK0EGfA4Ji2Ky+IVRk
2qpXTGKAFGG+2Dhb7TRQKdrfaJwsJ0WImKbmmEF1DWhXLTrthSFmpGRTAyCD5cznT0ftDiqJnJlE
4wVcjtDr33VzYSFGrBOXNlebVjEOBPrIcHh0efMmw37dHfde2rqsas1Scioqu1t3EKbVB+db9zaT
vG5sdT523NExuvqsUq1dDNTy6CMP3DSRidfSmYfoCys62NLmzt+i/8BtxYJYMae8HRjzcNSQ1WUJ
tQdxAmwylM3VySyh15m5jIlUp+kxAPGuJ6nQFK7gaUeuzDVFJWyz6RFgjYx1y5AUy4cz9zXKtEyy
gKwJIK05/BCgYgpcENCc0RVywtb1FvubjxQF0Z3eid5k0dJcgLqU9Z6yrzAYQAyMvdpk64AXWIVK
0BLVdQtolDzWwoN7k+eIqJqt5Z8y727XHUAeFk8xpwwGQDoB4rF0itdMDKMM+yJrPPL8ZoC8QvLh
tDOSENAaw2V+cmXFbTk5rtcWjoR+5aPYdM/tv+oBVI/DtX7UrrUDRu1qt7Cqz68wsdgpqWXWsIQK
a+kgU/Ms3/VcEW5MojsXHIR+dA3Je4mxBteR1TV66gpzqnBPHctmqiqMu4uGPEubAL45u/MldB8e
KK70f5PZ+Fw8lV6we3JDUjFubHLc9XSzLo5d2886f/8xlOUD5Dpux85rus43QQzuaqsft2AvLDO0
Ei2Wh39RslqxdXVT4y7LO/vjXAuRZadkatdqDnx8o7RywqMGAF4r/gBglGHeq2sa0pzWfN5HCc3z
UTG0RSt06/VSPapYRSJkh0bCiabVHKd8dzOyNXU+moy8WOOv2CgcKxWqhK4VeSHSosgCp7/z5Z1/
RgH+cxkTSXqexWA87f7OljuZnpMwJZuZue/1sOw2REezbErQEWFTDMajFYB6awOA0zXEaP02ZOH0
RHoAbO6ZRjpMyW1mEAMZI7BIi3AD3H+euikzStueDczrc/4SQcHR/G76g1k2+hViIZf+XFtXTexS
j7mLH820LPQRmiYW3rl8601tF/Y813Ms6uum6VOPLNOgYbnzzy3IBozsO4GGpH31f4O+hkOw4ZN7
s3DZWI4sxc56IKfFzmw8ZdYXOchMtyHhWSqi4ayBHl1IPF+zXJor8GqMPwegqccKTrXYyFV9dVQI
I2SU3bJV1gWspRyoOLbcxFn3j220luUBOPKIu+B1g+0jZx4xSNLPPfFyG51hi1/8sJfDotSce+Zb
jj6b4OHIuef+zUFvzCklRgn5dcNEo7UHdX7rgd5F7TXzosp82WlAlL7iox/HjnJGOa9ckNPJcPvD
0Xg6+4Bnxy2Cb8mOlY3CKspO7c+mSYfpqUvyTLxpBbqCs2kbsbqCV9B9aUInZ6bt1eUa9o7JhhPp
HdJzfRCNZMcq58iPnVPAUzBQHsxPEi8nrP1kv0EfQ/+MdFPSe1PyP3rsJjb/OxUJd+S4h2Dp+S3g
0QyZXIO3xRy2cf/20u8WTRU7GgTRud9S+4ej2k+p72ji65ezc4u+gx/BFxVTnqyYghgAfuAvO8lQ
sjxZw54WJGk0BeKzszW/v01uPLkB70+PCrpxSk6ORaZFFzCWj0h8l6bFvyz10bSEY5Q0I7R1LecC
9WKGSec1cMhOWOGqBWLPmVxLckIVpZweHdSHri/ENZvI1gNWAKCPVKRdE1aXZhmHxutdt+VxGy6h
0sVLmBmGyPP82y6ulmPbMEuFIMQrXcepVfcvOcALu9ujF1zwnBwNEjXUy6cedQN3Y80qBeH9v39X
rvB3Nc6JLU8d1HQMRPFTUefjq4Yh+SXg/uyMzp0/Qb+F/m+qN2GGCjEYQ9SMs4exDEbTA4hTO5hm
3CPe3zuc8/umLrLOLLCTj2jhi8HrbwyM7AR7nI5DO+mhw4jp2NlCVr3wfBNgD5BP2YyB1OfbenS1
KuTxk0WDCP7Ig7Fk21oJfQlp0Z8VDX73FS89nS3LN9IAyc9hnXmlp+PccP4XPCTdELH9tIj63shv
vLYuCLDi2CCm/jO/sGxoSA+VrDdCQV/AhqLL09va0454eSJKmFHC6YEaQ1lrOoBWRuNZAybY1Pdl
2ORouoNmNe5Mo2aDDZmVpQwEPW04X3I8q98gzh8RFbg9z8UiuSuqygwzcgXXssyyxpwQ9E8HwhDA
xpWzOWOhi9x5PzGKg+MQiYYWXP+AXYUYjhtz3e3enbYpOCvi95Jw8KKH++11AEcvOPusl1kG0YDz
IRAb4S61iffYxw8xTBkzogAoZqAR98meENzWTJ06LKre379l9cz5rYedguXwZPDmAz8hPGZjW86o
N3b+D/o4+lfl8en5x+mGN9Izt6bNcXJUFjRgkHXUp/136Vl38WBNHvaaHfUqMzANCDuxfKvUN9mL
tZCxE3kEbJM3JTSXx8lsos4k2Qcv7UeZssHLb/axr9YqhZflkYpLqy84r3OD+NwDud1fekKeOAqM
GAxQlswHd1JASC0ssOuA3gIPIa7H2OIz6+2bk6v7WIhy8vQvkLzZfdq7AUVIicqmOjnYj1IX56Di
nabh+zbpfoFUZe6F/Fxf9l15MsOD6rKZKPVhngqukIvDL5N9PjQv+9pkf97/39W1tEhSBOHOzMqs
zHq/q7u6uvpdPbvznunpmd1x9qEuO4dFEfEiCwrCLDIHQUEUERb3tL/Ag6xXWcSjF0+CePQXePAg
XkX9Aa4Rld0zg5eGpguyKx8RX0R88SUlh4+bfGEglNVQfwKmfDwSOE6idJdJWD7yXewWxrr4Py/u
kw/o362PWp8g2/GSnd50w6yEJC85Fzpqbah2aSKQnaejnHnj9mGCE50Wo3gBSkP2HY3r5dUWmTnL
ciyrL/bBF6AazXyWpBMrNPjQyyQ1GeNJ4K+VjsgpdxKAYbzrR/0mz2NWyYEjsDUevL0MTzZQwzVS
hqn41mmZlw2Pbl5IG5AkhMbwxWo3cbLOZTY5QKQ/Ul5tveV/VpfDDc9FKa9E+AGzsepliGvp9P3z
xfjIrnc6N28TmvpF3s5VGsFz2FusYg4bQjmmT2PvxsiVn0627sHfVnDEIq5spSEE1blmnfzQPYXv
gf98Sn+Cz+uwo+e7O9g5YV5kEA4RgmuFXphGsAsRXuGzeKo9XyMRC24RNphAfIK6ko0dX8Bs+AHs
EI6yrxSm5+wxeNLNdWwcjkjEQvHvz4H84uMC+Wbpi3vkdfpr6wysEGz9RlaMLrMYK230imAPCpY/
G9IrmpMme3QwXzY94hboEXFBzarAxefJCtXNl0pMWrd0SCwW7goDeZilfdKZALw0mCiW4KmYZXEK
oQW51on7po/zZfY7G5jT9GJGHLN8N5QSrKssvZog9M8knDebe+Qvyo/G4V6v5g+P8o5QFQTqwjIs
oh2ckQE23um56sPZ1pu5muX7p2JrvMhPY99rJtQltOA2ld1ptDPYYufTV9u2wFsdANpZwoy5K01X
a5E/oQ/J59jDc6XMr5Ue/i9pW2s17eYUiKX10XfJ6A6m8eh+5MEQvaz3Rm9wcpNuTru3Qi9vJ5tc
SUO5oWJUChGLdC0eLvb7dRndemdYPqgKcC1U2nIwZk+Ia3ZHtRfblt2vKYDbQVnc9l1Uf+Rhzqk0
e7blcUsJ9cqkOvJiwao5vHbgjrImL879YMWl/LP1nP7S6sPJ1/IWcCxfIqsV1PKMmsj8tYrHRCGz
ENbDlAMRJAVNuGtz+pwFD8aZg7l0i1i+lJGpHGXV53sMEHUQ6bFeI7+3vqPfN2NdlXtc5HuLAx0p
rAz7mak6Q2bMuBdKG4A8GK0O4Flcf4O5XfqNQ/n66MYdKSSXRQPYnXFx0CNYGQkSfd5K8hsZ0h9b
I+zhjVeKV3vwevtXXm920RKxVHUHOLw4WOxd3pW1/P1RRDOIVsEya6V5g5pO35lZ4DPBHRbuM+Ky
NDWolAgrhTCkXXJfRBBm8jSmz2yS3a3cCOI2IpUtZChNi6vq5Pou9xxmVRJOSvukaweCNoLVyuKM
wwNvb5PQZV63yacckz/IjP4Ae/JO81aX+FHUq46iepukWHYW9eHlpV9L0LSozWVwgjBC1Pk4OaZm
OuUWrKVh5QIpIG1GTSyDicFXwk42mBF014XlMSNRMP3McSopPVSTMlUX/Mm3DpP93vxlo025H2GN
KqvybRv5PhzryLZwqu5wcjxBjUXlNZlN4U2ma11OmelYyZdgIP8DHPrxRHjarZGxSsRAEIb/vcsd
CCJ2h9jkCcIegsi9Q64S+0uygfU22SPZLVLY+Qp2PoGFYOUr+EiW/onTKiiXIcyXmf+fnSUAzvAK
he/nEjfCCis8Cs+wxIvwHFfqQjjBSj0IL3Cu3oWXrH9SqZITfl1PrpEVMtwKz3CKZ+E5arwJJ8hU
LrxAqp6El6x/oEAHiy3fEh4OBg1ziz1pYM8zqqnec+bYCSQUnd3a0jvT+HZvhs77ypm+9m1g8x6R
msDZBjty4PSa2bFqOf9AGs+z7AyUxz4UZheDraPrbXNwtrSBjZz+iqpID3JT2cj8v4U3f13qlwtu
flz4WBe/o7+bPOP+KTRjzV+tp0gpMF1vfZtqvc601unRjv4CZyqUHQAAeNptzcVSQgEAQNHDM7DF
bhGw8yl2YWJ3t64cN+78An/J+DxlXHtm7voK/Pl5N+Y/z7kiAnnyFSgUVaRYiVJlylWoFFOlWo1a
deo1aNSkWYtWbdrFdUhISunUpVuPXn36DRg0ZNiI0GjunTZuwqQp02bMmjNvwaKMJctWrFqzLmvD
pi3bduzas+/AoSPHTpw6c+7CpSvXbty6c+/Boydfvn34jATRt9eXdBiGvyhXGZ4AAAAB//8AAnja
Y2BkYGDgA2IJBgUgycTACIRpQMwC5jEwMEIwABEeALsAAAAAAAEAAAAAyYlvMQAAAADIeCtBAAAA
ANGcrxk=) format('woff'), url('justbeautifulsimplicity.ttf')  format('truetype'), url('justbeautifulsimplicity.svg#justbeautifulsimplicity') format('svg');
  font-weight: normal;
  font-style: normal;
}


